*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
 body {
  padding: 20px;
  font-family: 'Poppins', san-serif;
 }
 .button--container{
  display: grid;
  grid-template: 60px 60px / 1fr 1fr ;
  gap: 20px;
  padding: 10px;
 }
 .counter--minus{
  width: 100%;
  height: 150px;
  font-family: "karla", sans-serif;
  border-radius: 10px;
  font-size: 2rem;
  background:grey;
  color: white;
  border: none;
  cursor: pointer;

}

.counter--plus{
  width: 100%;
  height: 150px;
  font-family: "karla", sans-serif;
  border-radius: 10px;
  background: black;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;

}

.counter--count {
  width: 100%;
  display: flex;
  margin-left: 650px;
  font-size: 3rem;
  
}

.challenge--title {
  margin-left: 10px;
  font-size: 30px;
  margin-right: auto;
  color: purple;
  font-family: "karla", sans-serif;
  font-weight: 200;
}



